<div class="card">
    <div class="card-header bg-warning">
      <h3>Counter State</h3>
    </div>
    <div class="card-body text-center">
      <h1>{{ currentCount }}</h1>
      <button class="btn btn-success" (click)="increment()">
        <i class="fa fa-plus"></i> Increment
      </button>
      <button class="btn btn-danger" (click)="decrement()">
        <i class="fa fa-minus"></i> Decrement
      </button>
      <button class="btn btn-secondary" (click)="reset()">
        <i class="fa fa-refresh"></i> Reset
      </button>
    </div>
  </div>
  